#intro {
  background: url(/images/intro_rlh2016.jpg) center top no-repeat;
  min-height: 560px;
  position: relative;

  a {
    @include section-links(#fff);
  }

  #intro-footer {
    margin-top: modular-scale(1);
    @include clearfix;

    .intro-footer--events {
      @include media($desktop) {
        @include span-columns(5);
      }
      ul {
        font-size: .85em;
        margin-top: modular-scale(2);
        @include media($desktop) {
          border-left: 1px solid rgba(#fff, 0.1);
          padding-left: modular-scale(2);
        }
        strong {
          font-size: 1.1em;
        }
      }
    }
    .intro-footer--img {
      @include media($desktop) {
        @include span-columns(3);
      }
    }
    .intro-footer--text {
      margin: modular-scale(1) 0 0;
      @include media($desktop) {
        margin: modular-scale(4) 0 0;
        @include span-columns(4);
      }
    }
  }

  .container {
    padding-bottom: 0;
  }

  .wrapper {
    background-color: rgba(#000, 0.8);
    bottom: 0;
    padding: modular-scale(2) 0;
    position: absolute;
    width: 100%;

    @include media ($mobile) {
      position: relative;
    }
  }
}
