#header_wrapper {
  position: fixed;
  width: 100%;
  z-index: 5000;
}

#header {
  background: #000;
  font-family: Helvetica, Arial, Sans-Serif;
  position: relative;
}

#nav {
  list-style-type: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  text-decoration: none;
  color: #f6921e;
  font-size: 14px;
  padding: 12px 20px 12px 0;
}

#nav li a:hover {
  color: #fff;
}

#register {
  display:block;
  float: right;
  position: relative;
  margin-bottom: -20px;
  z-index: 1000;
}

#subheader {
  font-family: Helvetica, Arial, Sans-Serif;
  background: #3e3e3e;
  -o-box-shadow:    0 0 10px #333;
  -icab-box-shadow: 0 0 10px #333;
  -khtml-box-shadow:  0 0 10px #333;
  -moz-box-shadow:  #333 0 0 10px;
  -webkit-box-shadow: 0 0 10px #333;
  box-shadow:     0 0 10px #333;
  position: relative;
}

#subheader p {
  padding: 5px 0;
  margin: 0;
  color: #a4a4a4;
}

#subheader p a {
  text-decoration: underline;
  color: #a4a4a4;
}

#subheader p a:hover {
  color: #fff;
}

#subheader strong {
  color: #fff;
}

.align_right {
  text-align: right;
}

#shim {
  height: 71px;
  overflow: hidden;
  clear: both;
}

#footer {
  border-top: 2px solid #fff;
  padding-top: 15px;
  font-family: Helvetica, Arial, Sans-Serif;
  color: #616161;
  font-size: 10px;
  font-weight: bold;
}

#footer a {
  font-family: Helvetica, Arial, Sans-Serif;
  color: #939393;
  text-decoration: none;
}

#footer .links a {
  font-weight: bold;
  color: #fff;
  float: right;
  padding-left: 15px;
}

#footer a:hover {
  color: #f6921e;
}

.big_link, .overview_link, .details_link, .ui-dialog-titlebar-close  {
  background: url(/images/arrow_red.png) 0 2px no-repeat;
  padding: 0 0 5px 12px;
  color: #f2050f;
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2em;
  display: block;
}

.big_link:hover, .details_link:hover {
  background-image: url(/images/arrow_white.png) no-repeat;
  color: #fff;
}

.overview_link, .ui-dialog-titlebar-close {
  background-image: url(/images/x_white.png);
  padding: 0 0 0 15px;
  color: #fff;
  display: inline;
}
.overview_link:hover, .ui-dialog-titlebar-close:hover {
  background-image: url(/images/x_orange.png);
  color: #f6921e;
}

.no_arrow {
  background: none;
  padding: 0;
}

.arrow {
  padding-right: 8px;
}

.section {
  border-top: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  text-shadow: #000 1px 1px 2px;
  padding-bottom: 40px;
}

.details {
  display: none;
  border-color: #fff;
  border-top: 2px solid rgba(255,255,255,0.2);
  padding-top: 15px;
}



/* Lightbox Screens */

.ui-dialog-titlebar {
  text-align: right;
}

#fees, #privacy {
  display: none;
}

#fees a {
  color: #000;
}

#contact textarea {
  height: 150px;
}

.ui-widget-overlay {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  background: #000;
  opacity: 0.7;
}

.ui-dialog-content {
  color: #000;
  background: #fff;
  font-family: Helvetica, Arial, Sans-Serif;
  padding: 10px;
  overflow: auto;
  text-align: left;
}

.ui-dialog-content h3 {
  padding-top: 10px;
  font-size: 60px;
  color: #8b131a;
  font-family: 'Yanone Kaffeesatz';
}

.ui-dialog-content h5 {
  color: #8b131a;
  font-family: 'Yanone Kaffeesatz';
}

/* Contact */

#contact {
  color: #fff;
}
