@mixin box-shadow( $horiz : .5em , $vert : .5em , $blur : 0px , $spread : 0px , $color : #000000 ){
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
}

@mixin section-links($link-color) {
  color: $link-color;

  &:hover {
    color: lighten($link-color, 20%);
  }

  &.btn-details {
    color: $action-color;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: lighten($action-color, 10%);
    }
  }
}
