#party {
  background: url(/images/party_bg.jpg) 0 0;

  a {
    @include section-links(#e0575f);
  }

  div.col-l {
    @include media($small-screens) {
      padding-bottom: modular-scale(2);
    }
    @include media($desktop) {
      @include span-columns(5);
    }
  }

  div.col-r {
    @include media($desktop) {
      @include span-columns(7);
    }
  }

  div.drawer--col-l {
    @include media($small-screens) {
      padding-bottom: modular-scale(2);
    }
    @include media($desktop) {
      @include span-columns(6);
    }
  }

  div.drawer--col-r {
    @include media($desktop) {
      @include span-columns(6);
    }
  }

  #party-drawer {
    padding: modular-scale(4) 0 0;
    ul {
      margin-bottom: .75em;
    }
  }
}
