#race {
  background: url(/images/race_bg.jpg) 0 0;

  a {
    @include section-links(#89c2ea);
  }

  div.col-l {
    @include media($small-screens) {
      padding-bottom: modular-scale(5);
    }
    @include media($desktop) {
      @include span-columns(6);
    }
  }

  div.col-r {
    $section-text-color: #666;
    color: $section-text-color;
    @include media($desktop) {
      @include span-columns(6);
    }
    p {
      font-size: .8em;
    }
  }

  #race_gallery {
    margin: 0 0 5px 0;
    padding: 0;
    .gallery_nav {
      padding-top: 300px;
      p {
        margin-top: 2em;
      }
      .icon {
        float: left;
        margin-top: -0.5em;
        padding-right: .5em;
      }
    }
    .incoming,
    .outgoing {
      width: 410px;
      height: 275px;
      position: absolute;
      border: 10px solid #fff;
    }

    .incoming {
      display:none;
    }

    .incoming.active {
      -webkit-animation-iteration-count: 1;
      -webkit-animation-duration: 0.5s;
      -webkit-transform: rotate(0) scale(1) translate(0,0);
      opacity: 1;
    }

    .incoming.active {
      -webkit-animation-name: toss;
    }

    @-webkit-keyframes toss {
      0% { -webkit-transform: rotate(-30deg) scale(1.3) translate(-20px,-250px); opacity: 0; -webkit-animation-timing-function: ease-in-out; }
      100% { -webkit-transform: rotate(0deg) scale(1) translate(0,0); opacity: 1; }
    }

    .gallery_list {
      display: none;
    }
  }
}
