<div id="cause" class="section">
  <h2><span>The Cause</span></h2>
  <div class="container clearfix">
    <div class="overview clearfix">
      <div class="column span-12 append-1 append-bottom">
        <h3>Something worth running for.</h3>
        <h5>Proceeds from the event benefit the Cystic Fibrosis Foundation.</h5>
        <p>What is cystic fibrosis (CF)? Cystic fibrosis is a life-threatening, genetic disease that causes persistent lung infections and progressively limits the ability to breathe.  In people with CF, a defective gene causes a thick, buildup of mucus in the lungs, pancreas and other organs. In the lungs, the mucus clogs the airways and traps bacteria leading to infections, extensive lung damage and eventually respiratory failure. In the pancreas, the mucus prevents the release of digestive enzymes that allow the body to break down food and absorb vital nutrients. An estimated 30,000 children and adults in the United States have CF. With your support, you will help the Cystic Fibrosis Foundation reach its goal (<a href="http://cff.org" target="_blank">CFF.org</a>).</p>
        <p><a href="https://www.cff.org/Our-Research/Drug-Development-Pipeline/" target="_blank">Check out the progress we’ve already made</a></p>

        <p>To learn more about cystic fibrosis and the Foundation, please visit:</p>
        <p><a href="http://www.cff.org/AboutCF" target="_blank">http://www.cff.org/AboutCF</a><br>
           <a href="http://www.cff.org/aboutCFFoundation" target="_blank">http://www.cff.org/aboutCFFoundation</a></p>
        <div class="column span-5">
          <img alt="Dax" src="/images/cause_dax_small.png">
        </div>
        <div class="column span-7 last">
          <h5>Meet Dax</h5>
          <p>This year, you are running for him.</p>
          <p><a href="/runlikehell/dax_ambassador_rlh.pdf" class="details_link" target="_blank">More Details: Dax's Story</a></p>
        </div>
      </div>
      <div class="column span-11 last append-bottom">
        <div id="about_cf" class="prepend-1 small_text">
          <h5>Adding Tomorrows Every Day</h5>
          <iframe width="390" height="219" src="https://www.youtube.com/embed/WfccmBfMzfQ?showinfo=0" frameborder="0" allowfullscreen=""></iframe>
          <p>The Cystic Fibrosis Foundation is a nonprofit donor-supported organization dedicated to attacking CF from every angle. Our mission is to cure CF and to provide all people with the disease the opportunity to lead full, productive lives by funding research and drug development, promoting individualized treatment, and ensuring access to high-quality, specialized care.</p>
          <p>When the Foundation was established in 1955, children with CF rarely lived long enough to attend elementary school. Due in large part to the Foundation's investments in innovative research and comprehensive care, many people with the disease can now expect to live into their 30s, 40s and beyond.</p>
          <p>But, we still have much to do. With your support, you can help the Foundation reach its goal — a cure for all people with cystic fibrosis. For more information, visit <a href="http://www.cff.org" target="_blank">www.cff.org</a>.</p>
        </div>
      </div>
    </div>
    <!--div id="cause_details" class="details clear clearfix">
      <div class="align_right"><a href="#cause" class="overview_link">Hide Details</a></div>
      <div class="column span-10 append-bottom">
        <img alt="Dax" class="nolan_big" src="/images/cause_dax_big.png" />
      </div>
      <div class="column span-14 last append-bottom">
        <h4>Annie’s Story</h4>
        <p>Annie has fought cystic fibrosis since she was diagnosed at the age of three. It has been a hard fight with successes and failures but the support of her friends and family keeps her going! Annie is now a Junior at Wittenberg University majoring in biology and minoring in psychology. Her hope is to become a genetic counselor to help children with genetic diseases understand their disease and how to cope. Annie is grateful for the CF Foundation and everyone contributing funds for the cure.</p>
        <p>Thank you for your participation in this year’s 23rd Run Like Hell to raise funds for lifesaving research for Annie and the thousands of others who battle with CF every day.</p>
      </div>
    </div-->
  </div>
</div>
