<article id="cause">
  <h2>The Cause</h2>
  <div class="container">
    <div class="col-l">
      <section>
        <h3>Something worth running for.</h3>
        <p class="lead"><strong>Proceeds from the event benefit the Cystic Fibrosis Foundation.</strong></p>
        <p>What is cystic fibrosis (CF)? Cystic fibrosis is a life-threatening, genetic disease that causes persistent lung infections and progressively limits the ability to breathe.  In people with CF, a defective gene causes a thick, buildup of mucus in the lungs, pancreas and other organs. In the lungs, the mucus clogs the airways and traps bacteria leading to infections, extensive lung damage and eventually respiratory failure. In the pancreas, the mucus prevents the release of digestive enzymes that allow the body to break down food and absorb vital nutrients. An estimated 30,000 children and adults in the United States have CF. With your support, you will help the Cystic Fibrosis Foundation reach its goal. <a href="https://www.cff.org/Our-Research/Drug-Development-Pipeline/" target="_blank">Check out the progress we’ve already made.</a></p>

        <p><strong>To learn more about cystic fibrosis and the Foundation, please visit:</strong><br>
        <a href="http://www.cff.org/AboutCF" target="_blank">http://www.cff.org/AboutCF</a><br>
        <a href="http://www.cff.org/aboutCFFoundation" target="_blank">http://www.cff.org/aboutCFFoundation</a></p>
      </section>
      <section id="story">
        <div class="story--img">
          <img alt="Dax" title="Learn about Dax's Story" src="/images/cause_norah.png">
        </div>
        <div class="story--text">
          <h5>Meet Norah</h5>
          <p>Norah is a vibrant 3 year old with a strong personality and fearless spirit.  Living with CF is a challenge, but it does not define her. Norah’s treatments begin each morning and end each night with nebulizer treatments while doing 24 minutes of vest therapy which help to move mucus and clear her lungs.  Throughout the day she takes 18-20 pills with her food to allow her pancreas to work correctly.  Currently her Mommy and Daddy are working hard to keep up with her 1900 calorie diet to help her gain weight, and to avoid a feeding tube for extra nutrition.</p>
          <p>Through all of this, she is still a happy, strong willed little girl.  She attends preschool 2 times a week where she is focusing on coloring in the lines, listening to her teachers and sharing toys with friends.  Her favorite TV shows are “Paw Patrol” and “Peter Rabbit.” </p>
          <p>She loves to run, jump, dance, wrestle, and play dolls with her sister Adeline.  Her Dad likes to joke that sometimes he is worried about her hurting herself because she has no fear- she will try anything.</p>
          <p><strong>This year, you are running for her.</strong></p>
        </div>
      </section>
    </div>
    <div class="col-r">
      <section>
        <h4>Adding Tomorrows... Every Day</h4>
        <div class="videoWrapper">
          <iframe width="1517" height="1080" src="https://www.youtube.com/embed/WfccmBfMzfQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <p>The Cystic Fibrosis Foundation is a nonprofit donor-supported organization dedicated to attacking CF from every angle. Our mission is to cure CF and to provide all people with the disease the opportunity to lead full, productive lives by funding research and drug development, promoting individualized treatment, and ensuring access to high-quality, specialized care.</p>
        <p>When the Foundation was established in 1955, children with CF rarely lived long enough to attend elementary school. Due in large part to the Foundation's investments in innovative research and comprehensive care, many people with the disease can now expect to live into their 30s, 40s and beyond.</p>
        <p>But, we still have much to do. With your support, you can help the Foundation reach its goal — a cure for all people with cystic fibrosis. For more information, visit <a href="http://www.cff.org" target="_blank">www.cff.org</a>.</p>
      </section>
    </div>
  </div>
</article>
