<article id="connect">
  <h2>Get Connected</h2>
  <div class="container">
    <div class="col-l">
      <section id="signup">
        <h3>Follow us. Like us. Stalk us.</h3>
        <p>Get that group costume going. A pack of zombies are way cooler than one.<br>
        <a href="http://fightcf.cff.org/site/Survey?ACTION_REQUIRED=URI_ACTION_USER_REQUESTS&SURVEY_ID=4021" class="btn-details" target="_blank"><i class="fa fa-angle-right"></i> Contact Run Like Hell</a></p>
        <form action="http://helloample.createsend.com/t/y/s/ajdtj/" method="post" id="sub_form">
          <p>Sign-up for periodic email updates on the race, announcements and other fun stuff.</p>
          <input type="text" class="text" name="cm-ajdtj-ajdtj" id="ajdtj-ajdtj">
          <button type="submit" class="btn-primary">Subscribe</button>&nbsp;
          <a href="javascript:void(0)" id="unsubscribe">Unsubscribe</a>
        </form>
      </section>
    </div>
    <div class="col-r">
      <section id="social">
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FCincyRunLikeHell&amp;width=430&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;height=275" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:430px; height:275px;background:#fff"></iframe>
        <p><img alt="Twitter" src="/images/icon_twitter.png" class="icon" role="icon" title="Twitter"><a href="http://twitter.com/CincyRLH">Follow Us on Twitter</a></p>
        <p><img alt="Flickr" src="/images/icon_flickr.png" class="icon" role="icon" title="Flickr"><a href="http://www.flickr.com/photos/cincinnaticff/sets/72157622622252483/">See Our Photos on Flickr</a></p>
      </section>
    </div>
  </div>
</article>
