<div id="connect" class="section">
  <h2><span>Get Connected</span></h2>
  <div class="container clearfix">
    <div class="overview clearfix">
      <div class="column span-12 append-1 append-bottom">
        <h3>Follow us. Like us. Stalk us.</h3>
        <p>Get that group costume going. A pack of zombies are way cooler than one.<br>
        <a href="/contact" class="big_link">Contact Run Like Hell</a></p>
        <p class="bottom">Sign-up for periodic email updates on the race, announcements and other fun stuff.</p>
        <form action="http://helloample.createsend.com/t/y/s/ajdtj/" method="post" id="sub_form">
          <div class="column span-7">
            <input type="text" class="text" style="width:270px;" name="cm-ajdtj-ajdtj" id="ajdtj-ajdtj">
          </div>
          <div class="column span-5 last">
            <input type="submit" value="Subscribe" class="submit">
            <a href="javascript:void(0)" class="small_link" id="unsubscribe">Unsubscribe</a>
          </div>
        </form>
      </div>
      <div class="column span-11 last append-bottom">
        <div style="display: block;"><iframe style="width: 100%; border: 1px solid rgb(204, 204, 204); height: 80px;"></iframe></div>
        <div class="icon span-5 append-1">
          <a href="http://twitter.com/CincyRLH">Follow Us on Twitter</a>
          <img alt="Twitter" src="/images/icon_twitter.png">
        </div>
        <div class="icon align_right span-5 last">
          <a href="http://www.flickr.com/photos/cincinnaticff/sets/72157622622252483/">See Our Photos on Flickr</a>
          <img alt="Flickr" src="/images/icon_flickr.png">
        </div>
      </div>
    </div>
  </div>
</div>
