<footer id="footer-site">
  <div class="container">
    <p><strong>Important note on attendance for people with CF and their families:</strong></p>
    <p>To reduce the risk of getting and spreading germs at CF Foundation-sponsored events, we ask that everyone follow basic best practices by regularly cleaning your hands with soap and water or with an alcohol-based hand gel, covering your cough or sneeze with a tissue or your inner elbow and maintaining a safe 6-foot distance from anyone with a cold or infection.</p>
    <p>Medical evidence shows that germs may spread among people with CF through direct and indirect contact as well as through droplets that travel short distances when a person coughs or sneezes. These germs can lead to worsening symptoms and speed decline in lung function. To further help reduce the risk of cross-infection, the Foundation’s attendance policy recommends that all people with CF maintain a safe 6-foot distance from each other at all times while attending an outdoor Foundation-sponsored event.</p>
    <p>The Cystic Fibrosis Foundation has unrestricted financial reserves of about 15 times its budgeted annual expenses, following a one-time royalty sale in 2014. These funds, along with the public’s continuing support, are needed to help accelerate our efforts to pursue a lifelong cure for this fatal disease, develop lifesaving new therapies and help all people with CF live full, productive lives. To request a copy of our Strategic Plan, email info@cff.org or call 800 FIGHT-CF.</p>
    <p>Questions? Contact Laura Morgan (<a href="tel:5135339300">513-533-9300</a>, <a href="mailto:lmorgan@cff.org">Email me</a>)</p>
    <p><small>©  Run Like Hell 2016. All Rights Reserved.</small></p>
    <ul>
      <li><a href="http://fightcf.cff.org/site/Survey?ACTION_REQUIRED=URI_ACTION_USER_REQUESTS&SURVEY_ID=4021" target="_blank">Contact Us</a></li>
      <li><a href="#privacy" data-role="modal-trigger">Privacy Policy</a></li>
      <li><a href="#fees-fundraising" data-role="modal-trigger">Fees &amp; Fundraising</a></li>
    </ul>
  </div>
</footer>

{% include modal-privacy.html %}
