<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.details.register_url }}" class="register">
      <img alt="Nav_register" class="roll btn-register" src="{{ '/images/nav_register.png' | prepend: site.baseurl }}">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="#race" class="scroll-on-page-link">The Race</a></li>
        <li class="nav-link"><a href="#party" class="scroll-on-page-link">The Party</a></li>
        <li class="nav-link"><a href="#cause" class="scroll-on-page-link">The Cause</a></li>
        <li class="nav-link"><a href="#sponsor" class="scroll-on-page-link">Sponsor or Volunteer</a></li>
        <li class="nav-link"><a href="#connect" class="scroll-on-page-link">Get Connected</a></li>
      </ul>
    </nav>
  </div>
  <div class="subheader">
    <h1>2016 Run Like Hell XXV</h1>
    <p>{{ site.details.when }}</p> <p>{{ site.details.where }} (<a href="{{ site.details.map_url }}">map</a>)</p>
  </div>
</header>
