<div class="site-header">
  <header class="navigation" role="banner">
    <div class="container navigation-wrapper">
      <a href="http://cincinnati.cff.org/RLH" class="register">
        <img alt="Nav_register" class="roll" id="register" src="/images/nav_register.png">
      </a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" id="nav">
          <li class="nav-link"><a href="#race">The Race</a></li>
          <li class="nav-link"><a href="#party">The Party</a></li>
          <li class="nav-link"><a href="#cause">The Cause</a></li>
          <li class="nav-link"><a href="#sponsor">Sponsor or Volunteer</a></li>
          <li class="nav-link"><a href="#connect">Get Connected</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <header class="navigation-sub">
    <div class="container">
      <p><strong>2015 Run Like Hell XXIV</strong> &nbsp; 7:30pm Friday, October 23rd, 2015 &nbsp; 3614 Woodburn Ave. (<a href="http://www.gmap-pedometer.com/?r=6642580">map</a>)</p>
    </div>
  </header>
</div>
