<article id="intro">
  <div class="wrapper">
    <div class="container">
      <section>
        <h3>It's our 25th anniversary!<br>Run Like Hell, to the party at the finish. </h3>
        <p class="lead">Sign up for the charity event you’ll enjoy dressing up for.</p>
      </section>
      <section id="intro-footer">
        <div class="intro-footer--img">
          <img alt="Run Like Hell Logo" src="{{ '/images/intro_logo_25th.png' | prepend: site.baseurl }}" width="200">
        </div>
        <div class="intro-footer--text">
          <p>
            <a href="#race" class="btn-details scroll-on-page-link"><i class="fa fa-angle-right"></i> More about the race</a><br>
            <a href="#cause" class="btn-details scroll-on-page-link"><i class="fa fa-angle-right"></i> More about the cause</a>
          </p>
        </div>
        <div class="intro-footer--events">
          <ul>
            <li><p><strong>Run for Your Soles Packet Pickup:</strong><br>Friday, October 28th noon—3:30 at <a href="https://goo.gl/maps/ueDmgpgxfPE2" title="Google Maps to Bar Louie" target="_blank">Listermann Brewing Company</a></p></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</article>
