<div id="intro" class="section">
  <div class="wrapper">
    <div class="container clearfix">
      <div class="overview clearfix">
        <div class="column span-24 last">
          <h3>Sign up for a 5K you'll never forget, even if you try.</h3>
          <p>It's more than a race. It's a charity event dressed up in one hell of a costume. Sign up today. Dress up for the race. <br>
            And get ready to party at the finish line!</p>
          <div class="span-6">
            <img alt="Run Like Hell Logo" src="/images/intro_logo.png" width="200">
          </div>
          <div class="span-6 intro_links last">
            <p><a href="#race" class="details_link">Tell me more about the race</a>
              <a href="#cause" class="details_link">Tell me more about the cause</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
