<article id="intro">
  <div class="wrapper">
    <div class="container">
      <section>
        <h3>Sign up for a 5K you'll never forget, even if you try.</h3>
        <p class="lead">It's more than a race. It's a charity event dressed up in one hell of a costume. Sign up today. Dress up for the race. And get ready to party at the finish line!</p>
      </section>
      <section id="intro-footer">
        <div class="intro-footer--img">
          <img alt="Run Like Hell Logo" src="{{ '/images/intro_logo.png' | prepend: site.baseurl }}" width="200">
        </div>
        <div class="intro-footer--text">
          <p>
            <a href="#race" class="btn-details scroll-on-page-link"><i class="fa fa-angle-right"></i> Tell me more about the race</a><br>
            <a href="#cause" class="btn-details scroll-on-page-link"><i class="fa fa-angle-right"></i> Tell me more about the cause</a>
          </p>
        </div>
      </section>
    </div>
  </div>
</article>
