<h1>Contact Us</h1>
<p><address>Cystic Fibrosis Foundation<br>4420 Carver Woods Drive<br>Cincinnati, OH 45242<br>Attn: Communications Department</address></p>

<form action="/contact" class="new_contact" id="new_contact" method="post">
  <div style="margin:0;padding:0;display:inline">
    <input name="authenticity_token" type="hidden" value="Xhd8CkETqsVrFkAjNo9NDRqkRhhN92c/q+W2m3I8oVo=">
    <label for="contact_interest">Reason for writing: </label>
    <select id="contact_interest" name="contact[interest]">
      <option value="Sponsorship">Sponsorship</option>
      <option value="Day of event volunteering">Day of event volunteering</option>
      <option value="Join the committee">Join the committee</option>
      <option value="Something else">Something else</option>
    </select>

    <label for="contact_name">Name</label>
    <input class="text" id="contact_name" name="contact[name]" size="30" type="text">

		<label for="contact_email">Email</label>
    <input class="text" id="contact_email" name="contact[email]" size="30" type="text">

    <label for="contact_message">Message</label>
    	<textarea cols="40" id="contact_message" name="contact[message]" rows="4"></textarea></p>

    <button id="contact_submit" name="commit" type="submit" class="btn-primary">Submit</button>
  </div>
</form>
