<div id="fees-fundraising" class="modal">
  <input class="modal-state" id="modal-fees" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-fees"></div>

      <h1>Registration fees</h1>
      <p>The sooner you sign up to run, the less you have to pay.</p>
      <ul>
        <li>$35 until midnight on 10/19</li>
        <li>$40 if registering from 10/20-10/22</li>
        <li>$45 if you register on race day (10/23)</li>
      </ul>
      <p>Online registration closes 10/19 at midnight.<br><em>Unfortunately, registration fees are NOT tax deductible, however any additional donation amount is tax deductible.</em></p>

      <h2>Fundraising</h2>
      <p>It’s not mandatory, but very appreciated. We’re hoping each runner will raise $50 per person. And we’ll be offering plenty of incentives to help you Raise Like Hell! You can <a href="http://cincinnati.cff.org/RLH">learn more here</a></p>
      <p><strong>How it works:</strong></p>
      <ol>
        <li>Every registrant will receive a confirmation email assigning them a personal fundraising web page.</li>
        <li>Setup and personalize your fundraising web page.</li>
        <li>Invite your friends, family and coworkers to participate or donate.</li>
        <li>Email your web page to potential donors so they can make a secure online donation.</li>
        <li>Download the widget to your social networking site to direct people to your personal fundraising page.</li>
        <li>Watch your fundraising progress thermometer grow!</li>
      </ol>

    </div>
  </div>
</div>

