<article id="party">
  <h2>The Party</h2>
  <div class="container">
    <div class="col-l">
      <img alt="Dressed to Impress" src="{{ '/images/party_group.jpg' | prepend: site.baseurl }}" class="img-responsive">
    </div>
    <div class="col-r">
      <h3>Party at the finish line and stuff.</h3>
      <p>Free food and drinks, reasonably priced craft beer and live music. It’s like being a kid again – dressed up and gathering treats.</p>
      <p>In its 24 years, Run Like Hell has raised over $1.5 million to go towards the Cystic Fibrosis Foundation. This year, while rounding up your friends and picking out your costume, we challenge you to form a team and start one hell of a fundraiser.</p>
    </div>
  </div>
</article>
