<article id="party">
  <h2>The Party</h2>
  <div class="container">
    <div class="col-l">
      <img alt="Dressed to Impress" src="/images/party_group.jpg" class="img-responsive">
    </div>
    <div class="col-r">
      <h3>Come in groups. Come solo. Just don’t come as yourself.</h3>
      <p>Just beside the finish line, this costume race becomes a costume party. You’ll have free food and drinks, reasonably priced craft beer and live music. It’s like being a kid again – dressed up, walking from booth to booth and picking up treats.</p>
      <p>In its 24 years, Run Like Hell has raised over $1.5 million to go towards the Cystic Fibrosis Foundation. This year, while rounding up your friends and picking out your costume, we challenge you to form a team and start one hell of a fundraiser.</p>

      <div class="expander">
        <a href="javascript:void(0)" data-role="expand" class="expander-trigger expander-hidden btn-details">More Details: Costume Contest &amp; Schedule</a>
        <div id="party-drawer" class="expander-content">
          <div class="drawer--col-l">
            <h4>Schedule</h4>
            <p>After the race, you'll find the food and drinks you need to re-fuel, the live music to get you rocking and the adult beverages to take you long into the night.</p>
            <ul>
              <li>7:30 - Race begins</li>
              <li>7:30 - Party begins</li>
              <li>11:00 - Party ends</li>
            </ul>
            <p>Music by The Whammies. The Party fills up the lot and adjacent lot beside the finish line. At the corner of Dana and Woodburn (<a href="http://www.gmap-pedometer.com/?r=3957988">Map</a>).</p>
          </div>
          <div class="drawer--col-r">
            <h4>Costume Contest</h4>
            <p>The costume contest will be judged at 10pm on stage. You must be present to win! Our categories this year will be decided by our Facebook fans! Follow us on <a href="https://www.facebook.com/CincyRunLikeHell">Facebook</a> to vote and stay tuned for more details! Prizes will be provided by: Homage, Fusian and Road ID.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
