<article id="race">
  <h2>The Race</h2>
  <div class="container">
    <div class="col-l">
      <section>
        <h3>So much to see, you’ll forget you’re running.</h3>
        <p>Running in costume with hundreds of other charitable souls, is nothing like plodding away on the treadmill. This is 3.1 miles of people-watching delight. Join in on the most unique 5K of the year.</p>
        <p>The gun goes off at 7:30. The start (and finish) line is at 3617 Woodburn Ave.</p>
        <p>New year, new route. This year, we are running from Dana Ave. to Victory Parkway into the cemetery and back!</p>

        <div class="modal">
          <label for="modal-fees">
            <div class="modal-trigger btn-details"><i class="fa fa-angle-right"></i> Fees &amp; Fundraising</div>
          </label>
          <input class="modal-state" id="modal-fees" type="checkbox" />
          <div class="modal-fade-screen">
            <div class="modal-inner">
              <div class="modal-close" for="modal-fees"></div>
              {% include modal-fees.html %}
              </div>
          </div>
        </div>
        <a href="http://fightcf.cff.org/rlh" class="btn-details" target="_blank"><i class="fa fa-angle-right"></i> Register to Run or Start a Team</a>
      </section>
    </div>
    <div class="col-r">
      <section id="race_gallery">
        <div class="slider single-item"></div>
        <div class="gallery_nav">
          <a href="#" data-role="slick-prev"><img alt="Back" class="roll arrow prev_image" src="/images/arrow_back.png"></a>
          <a href="#" data-role="slick-next"><img alt="Next" class="roll arrow next_image" src="/images/arrow_next.png"></a>
          <p><img alt="Flickr" src="/images/icon_flickr.png" class="icon">Photos by <a href="http://cincyphotography.com/">David Long</a>. Go to Flickr for <a href="http://www.flickr.com/photos/cincinnaticff/">more photos</a>.</p>
        </div>
      </section>
    </div>
  </div>
</article>
