<article id="race">
  <h2>The Race</h2>
  <div class="container">
    <div class="col-l">
      <section>
        <h3>Run for your soles through our haunted cemetery</h3>
        <p style="font-size:11px;"><strong>HOSTED BY:</strong></p>
        <img alt="The Dent Schoolhouse" src="{{ '/images/sponsor_logo_dent_schoolhouse.gif' | prepend: site.baseurl }}" class="img-responsive">
        <br>
        <hr style="border-bottom: 1px solid #424242;">
        <p>Welcome to 3.1 miles of people-watching delight. Join in on the most unique 5K of the year.</p>
        <p>The gun goes off at 7:30. The start (and finish) line is at 3617 Woodburn Ave. You’ll run from Dana Ave. to Victory Parkway into the cemetery and back!</p>
        <a href="#fees-fundraising" class="btn-details" data-role="modal-trigger"><i class="fa fa-angle-right"></i> Registration and fundraising details</a><br>
        <a href="{{ site.details.register_url }}" class="btn-details" target="_blank"><i class="fa fa-angle-right"></i> Sign up to run!</a>
      </section>
    </div>
    <div class="col-r">
      <section id="race_gallery">
        <div class="slider single-item"></div>
        <div class="gallery_nav">
          <a href="#" data-role="slick-prev"><img alt="Back" class="roll arrow prev_image" src="{{ '/images/arrow_back.png' | prepend: site.baseurl }}"></a>
          <a href="#" data-role="slick-next"><img alt="Next" class="roll arrow next_image" src="{{ '/images/arrow_next.png' | prepend: site.baseurl }}"></a>
          <p><img alt="Flickr" src="{{ '/images/icon_flickr.png' | prepend: site.baseurl }}" class="icon" role="icon" title="Flickr">Photos by <a href="http://cincyphotography.com/">David Long</a>. Go to Flickr for <a href="http://www.flickr.com/photos/cincinnaticff/">more photos</a>.</p>
        </div>
      </section>
    </div>
  </div>
</article>

{% include modal-fees.html %}
