<div id="race" class="section">
  <h2><span>The Race</span></h2>
  <div class="container clearfix">
    <div class="overview clearfix">

      <div class="column span-12 append-1 append-bottom">
        <h3>So much to see, you’ll forget you’re running.</h3>
        <p>Running in costume with hundreds of other charitable souls, is nothing like plodding away on the treadmill. This is 3.1 miles of people-watching delight. Join in on the most unique 5K of the year.</p>
        <p>The gun goes off at 7:30. The start (and finish) line is at 3617 Woodburn Ave.</p>
        <p>New year, new route. This year, we are running from Dana Ave. to Victory Parkway into the cemetery and back!</p>
        <p class="bottom"><a href="#fees" rel="facebox" class="big_link">Fees &amp; Fundraising</a></p>
        <p class="bottom"><a href="http://fightcf.cff.org/rlh" target="_blank" class="big_link">Register to Run or Start a Team</a></p>
      </div>

      <div class="column span-11 last append-bottom">
        <div id="race_gallery">
          <div class="outgoing"><img alt="18602439515_9ac595866d" height="275" image="http://farm9.static.flickr.com/8872/18602439515_9ac595866d.jpg" src="/system/thumbnails/410x275/8576dc62f1d13d83bdca096d3ea7e891.jpg?image=http://farm9.static.flickr.com/8872/18602439515_9ac595866d.jpg" width="410"></div>
          <div class="incoming"><img alt="8148445220_64707e727b" height="275" image="http://farm9.static.flickr.com/8326/8148445220_64707e727b.jpg" src="/system/thumbnails/410x275/974ef07c8dc7af709873bc54a0b8aa62.jpg?image=http://farm9.static.flickr.com/8326/8148445220_64707e727b.jpg" width="410"></div>
          <ul class="gallery_list">
            <li><a href="/system/thumbnails/410x275/8576dc62f1d13d83bdca096d3ea7e891.jpg?image=http://farm9.static.flickr.com/8872/18602439515_9ac595866d.jpg">Race Photo</a></li>
            <li><a href="/system/thumbnails/410x275/974ef07c8dc7af709873bc54a0b8aa62.jpg?image=http://farm9.static.flickr.com/8326/8148445220_64707e727b.jpg">start of race</a></li>
            <li><a href="/system/thumbnails/410x275/5c47b7f61029c5cb3efec7d6a7f29104.jpg?image=http://farm9.static.flickr.com/8324/8148446300_4cbe9eb7fd.jpg">post Race Party Shot 2</a></li>
            <li><a href="/system/thumbnails/410x275/5835583f828f719d72fca41ee9063528.jpg?image=http://farm9.static.flickr.com/8323/8148411369_12363c6b8b.jpg">Marines</a></li>
            <li><a href="/system/thumbnails/410x275/83bf3c9a69b3638653642aea58f7377e.jpg?image=http://farm9.static.flickr.com/8472/8148442444_6b05a95d71.jpg">runners on the move 2</a></li>
            <li><a href="/system/thumbnails/410x275/196efb4b90d7075a6b49b216278fcc23.jpg?image=http://farm9.static.flickr.com/8475/8148408963_3e08a422b3.jpg">Top Female Finishers compressed</a></li>
            <li><a href="/system/thumbnails/410x275/dcc76598ee9e64ffafd13bacf8f7758b.jpg?image=http://farm9.static.flickr.com/8056/8148413921_3a9f6d5592.jpg">Maggie Mae Team Contest Photo</a></li>
            <li><a href="/system/thumbnails/410x275/edd99c69f1499414e6dee7a636b730f8.jpg?image=http://farm9.static.flickr.com/8051/8148447508_1d5b3729f7.jpg">Papa Smurf</a></li>
            <li><a href="/system/thumbnails/410x275/cca8f3f79772f57df07cc25cb9afce7c.jpg?image=http://farm9.static.flickr.com/8327/8148441262_0d4d8b9320.jpg">IMG_0034</a></li>
            <li><a href="/system/thumbnails/410x275/d38bc5a78918e272d909a0acd10deed5.jpg?image=http://farm9.static.flickr.com/8335/8148416021_379e34d89e.jpg">IMG_0105</a></li>
          </ul>
          <div class="gallery_nav">
            <div class="span-3">
              <img alt="Back" class="roll arrow prev_image" src="/images/arrow_back.png">
              <img alt="Next" class="roll arrow next_image" src="/images/arrow_next.png">
            </div>
            <div class="icon align_right span-8 last">
              <p><small>Pictures provided by <a href="http://cincyphotography.com/">David Long</a></small></p>
              <a href="http://www.flickr.com/photos/cincinnaticff/">More Photos on Flickr</a>
              <img alt="Flickr" src="/images/icon_flickr.png">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

