<div id="sponsor" class="section">
  <h2><span>Sponsor or Volunteer</span></h2>
  <div class="container clearfix">

    <div class="overview clearfix">
      <div id="title_sponsor">
        <h4>Sponsors</h4>
      </div>

      <div id="logo_farm" class="clear">
        <a href="http://helloample.com/"><img alt="Ample" src="/images/rlh11-ample.jpg"></a>
        <a href="http://www.medpace.com/"><img alt="Medpace" src="/images/sponsor_logo_medpace.gif"></a>
        <a href="http://www.madtreebrewing.com/"><img alt="Mad Tree" src="/images/sponsor_logo_madtree.gif"></a>
        <a href="http://www.goetta.com/"><img alt="Gliers Goetta" src="/images/sponsor_logo_gliers.jpg"></a>
        <a href="http://www.listermann.com"><img alt="Listermann" src="/images/listerman-logo.gif"></a>
        <a href="http://www.thelittleclinic.com/"><img alt="The Little Clinic" src="/images/sponsor_logo_little_clinic.jpg"></a>

        <a href="http://www.lifepassiton.org/"><img alt="Life Center" src="/images/sponsor_logo_lifecenter.gif"></a>
        <a href="http://rhinegeist.com/"><img alt="Rhinegeist" src="/images/sponsor_logo_rhinegeist.gif"></a>

        <a href="http://www.55krc.com/main.html"><img alt="55KRC" src="/images/sponsor_logo_55krc.gif"></a>
        <a href="http://www.700wlw.com/main.html"><img alt="700WLW" src="/images/sponsor_logo_700wlw.gif"></a>
        <a href="http://www.espn1530.com/main.html"><img alt="ESPN1530" src="/images/sponsor_logo_espn1530.gif"></a>
        <a href="http://www.foxsports1360.com/main.html"><img alt="Fox1360" src="/images/sponsor_logo_fox1360.gif"></a>
        <a href="http://www.iheart.com/"><img alt="iHeart Media" src="/images/sponsor_logo_iheartmedia.gif"></a>
        <a href="http://www.kiss107.com/main.html"><img alt="Kiss 107" src="/images/sponsor_logo_kiss107.gif"></a>
        <a href="http://www.cincinnatiproject.com/main.html"><img alt="The Project 100.7" src="/images/sponsor_logo_the_project.gif"></a>
        <a href="http://www.thebeatcincy.com/main.html"><img alt="The Beat 102.3" src="/images/sponsor_logo_thebeat.gif"></a>
        <a href="http://www.webn.com/main.html"><img alt="WEBN" src="/images/sponsor_logo_webn.gif"></a>

        <a href="http://chiesiusa.com/"><img alt="Chiesi" src="/images/sponsor_logo_chiesi.gif"></a><a>
        </a><a href="http://www.tristaterunning.com/"><img alt="Tri-State Running Club" src="/images/sponsor_logo_trsc.gif"></a>
        <a href="http://www.americanbornmoonshine.com/"><img alt="American Born Moonshine" src="/images/sponsor_logo_american_moonshine.gif"></a>
        <a href="https://www.physi.rocks/"><img alt="Physi" src="/images/sponsor_logo_physi.gif"></a>
        <a href="http://www.norton-outdoor.com/"><img alt="Norton" src="/images/sponsor_logo_norton.gif"></a>

      </div>
      <div id="no_logo">
        <a href="http://www.bwfoods.com/">Birchwood Foods</a>&nbsp;&nbsp;•&nbsp;&nbsp;
        <a href="http://www.tyson.com/">Tyson Chicken</a>&nbsp;&nbsp;•&nbsp;&nbsp;
        <a href="http://www.walnuthillscemetery.org/">Walnut Hills Cemetery</a>&nbsp;&nbsp;•&nbsp;&nbsp;
        <a href="http://www.xavier.edu/">Xavier University</a>
      </div>

      <p><a href="#sponsor_details" class="details_link">More Details: Become a Sponsor &amp; Volunteer</a></p>
    </div>


    <div id="sponsor_details" class="details clear clearfix">
      <div class="align_right"><a href="#sponsor" class="overview_link">Hide Details</a></div>
      <div class="column span-12 append-1 append-bottom">
        <h3>Be a sponsor</h3>
        <p>If you are interested in partnering with Run Like Hell, please call the CF Foundation at 513.533.9300 ext 12.</p>
      </div>
      <div class="column span-11 last append-bottom">
        <h3>Volunteer</h3>
        <p>Run Like Hell is supported by a committee of volunteers who work year-round to ensure Run Like Hell is the premier 5K party it is meant to be!</p>
        <div class="column span-5">
          <p>Volunteer to help:<br>
          • Join the Committee<br>
          • Registration<br>
          • Set-up<br>
          • Tear-down<br>
          • Traffic control</p>
        </div>
        <div class="column span-6 last">
          <p>&nbsp;<br>
          • Waterstops<br>
          • Finish-line crew<br>
          • Beverage booths<br>
          • Food booths</p>
        </div>
        <p class="clear"><a href="mailto:lmorgan@cff.org">Talk to Laura</a> if you'd like to help.</p>
      </div>
    </div>

  </div>
</div>
