<article id="sponsor">
  <h2>Sponsor or Volunteer</h2>
  <div class="container">
    <ul id="sponsor-logo-yes">
      <li><a href="http://helloample.com/"><img alt="Ample" src="{{ '/images/rlh11-ample.jpg' | prepend: site.baseurl }}"></a></li>
      <!--<li><a href="http://www.medpace.com/"><img alt="Medpace" src="{{ '/images/sponsor_logo_medpace.gif' | prepend: site.baseurl }}"></a></li>-->
      <!--<li><a href="http://www.madtreebrewing.com/"><img alt="Mad Tree" src="{{ '/images/sponsor_logo_madtree.gif' | prepend: site.baseurl }}"></a></li>-->
      <!--<li><a href="http://www.goetta.com/"><img alt="Gliers Goetta" src="{{ '/images/sponsor_logo_gliers.jpg' | prepend: site.baseurl }}"></a></li>-->
      <li><a href="http://www.listermann.com"><img alt="Listermann" src="{{ '/images/sponsor_logo_listermann_logo.jpg' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://rhinegeist.com/"><img alt="Rhinegeist" src="{{ '/images/sponsor_logo_rhinegeist.gif' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://www.55krc.com/main.html"><img alt="55KRC" src="{{ '/images/sponsor_logo_55krc.gif' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://www.700wlw.com/main.html"><img alt="700WLW" src="{{ '/images/sponsor_logo_700wlw.gif' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://www.espn1530.com/main.html"><img alt="ESPN1530" src="{{ '/images/sponsor_logo_espn1530.gif' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://www.foxsports1360.com/main.html"><img alt="Fox1360" src="{{ '/images/sponsor_logo_fox1360.gif' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://www.iheart.com/"><img alt="iHeart Media" src="{{ '/images/sponsor_logo_iheartmedia.gif' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://www.kiss107.com/main.html"><img alt="Kiss 107" src="{{ '/images/sponsor_logo_kiss107.gif' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://www.cincinnatiproject.com/main.html"><img alt="The Project 100.7" src="{{ '/images/sponsor_logo_the_project.gif' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://www.thebeatcincy.com/main.html"><img alt="The Beat 102.3" src="{{ '/images/sponsor_logo_thebeat.gif' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://www.webn.com/main.html"><img alt="WEBN" src="{{ '/images/sponsor_logo_webn.gif' | prepend: site.baseurl }}"></a></li>
      <!--<li><a href="http://www.americanbornmoonshine.com/"><img alt="American Born Moonshine" src="{{ '/images/sponsor_logo_american_moonshine.gif' | prepend: site.baseurl }}"></a></li>-->
      
      <li><a href="http://www.norton-outdoor.com/"><img alt="Norton" src="{{ '/images/sponsor_logo_norton.gif' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://www.kroger.com/"><img alt="Kroger" src="{{ '/images/sponsor_logo_kroger.gif' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://frightsite.com/"><img alt="Dent Schoolhouse" src="{{ '/images/sponsor_logo_dent_schoolhouse.gif' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://curatesnacks.com/"><img alt="Curate Snacks" src="{{ '/images/sponsor_logo_curate.jpg' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://ostermancron.com/"><img alt="OstermanCron" src="{{ '/images/sponsor_logo_osterman.jpg' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://www.musictooyourears.com/"><img alt="Music to your Ears, LLC" src="{{ '/images/sponsor_logo_music-to-your-ears.jpg' | prepend: site.baseurl }}"></a></li>     
           
      <li><a href="https://www.asisonline.org/"><img alt=“asis” src="{{ '/images/sponsor_logo_asis.gif' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://www.goetta.com/"><img alt=“asis” src="{{ 'images/sponsor_logo_gliers_v2.gif' | prepend: site.baseurl }}"></a></li>
     
     
      <li><a href="http://seagramsescapes.com/"><img alt=“asis” src="{{ 'images/sponsor_logo_seagrams.gif' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://arcadiancomics.com/"><img alt=“asis” src="{{ 'images/sponsor_logo_arcadian.gif' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://www.budlight.com/our-beers/bud-light-beer.html"><img alt=“asis” src="{{ 'images/sponsor_logo_bud_light.jpg' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://rivertownbrewery.com/"><img alt=“asis” src="{{ 'images/sponsor_logo_rivertown.gif' | prepend: site.baseurl }}"></a></li>
      <li><a href="http://www.gooseisland.com/"><img alt=“asis” src="{{ 'images/sponsor_logo_goose_island.gif' | prepend: site.baseurl }}"></a></li>
      
    </ul>
    <ul id="sponsor-logo-no">
      <li><a href="http://www.bwfoods.com/">Birchwood Foods</a></li>
      <li><a href="http://www.tyson.com/">Tyson Chicken</a></li>
      <li><a href="http://www.walnuthillscemetery.org/">Walnut Hills Cemetery</a></li>
      <li><a href="http://www.xavier.edu/">Xavier University</a></li>
    </ul>
    <div class="expander">
      <a href="javascript:void(0)" data-role="expand" class="expander-trigger expander-hidden btn-details">More Details: Become a Sponsor &amp; Volunteer</a>
      <div id="sponsor-drawer" class="expander-content">
        <div class="col-l">
          <h4>Be a sponsor</h4>
          <p>If you are interested in partnering with Run Like Hell, please call the CF Foundation at <a href="tel:{{ site.contact.phone }}">{{ site.contact.phone }} (ext {{ site.contact.phone_ext }}).</a></p>
        </div>
        <div class="col-r">
          <h4>Volunteer</h4>
          <p>Run Like Hell is supported by a committee of volunteers who work year-round to ensure Run Like Hell is the premier 5K party it is meant to be!</p>
          <p><strong>Volunteer to help:</strong></p>
          <div class="list-l">
            <ul>
              <li>Join the Committee</li>
              <li>Registration</li>
              <li>Set-up</li>
              <li>Tear-down</li>
              <li>Traffic control</li>
            </ul>
          </div>
          <div class="list-r">
            <ul>
              <li>Waterstops</li>
              <li>Finish-line crew</li>
              <li>Beverage booths</li>
              <li>Food booths</li>
            </ul>
          </div>
          <div class="list-footer">
            <p><a href="mailto:{{ site.contact.email }}">Talk to {{ site.contact.name | split: ' ' | first }}</a> if you'd like to help.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

